@use '/resources/css/app.scss';

.data-grid {
    display: grid;

    .header {
        display: contents;
        @apply table-heading;
        em {
            font-size: 1em;
        }
    }

    .row-header {
        grid-column: 1 / -1;
    }

    .row-start:nth-child(2n + 1) {
        &,
        + *,
        + * + *,
        + * + * + *,
        + * + * + * + *,
        + * + * + * + * + *,
        + * + * + * + * + * + * {
            background-color: var(highlight-color-transparent);
        }
    }

    em {
        font-size: 0.8em;
    }
}
