.NavLink {
    text-decoration: none;
    color: var(--heading-color);
    border-color: transparent;
    border-bottom: 3px solid transparent;
    position: relative;
    padding-bottom: 0px;
    transition: color 300ms ease-in-out;
    text-align: center;
    &.active {
        border-color: var(--highlight-color);
    }
    &:hover:not(.active) {
        border-color: var(--hover-color);
        border-bottom: 2px solid var(--hover-color);
        padding-bottom: 1px;
    }
}