.Water {
    width: 100%;

    .DataTable {
        td {
            .extra {
                font-size: 0.8em;
            }
            &:not(&:first-child) {
                white-space: nowrap;
            }
        }
    }
}
