@use '/resources/css/app.scss';

.Tooltip {
    position: relative;
    cursor: help;
    text-decoration: underline;
    .message {
        text-align: left;
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 0;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transition: 300ms;
        background-color: var(--background-color);
        border-radius: 0.25rem;
        @apply p-4 shadow;
        transition-delay: 500ms;
        width: 16em;
    }
    &:hover {
        text-decoration-style: dotted;
        .message {
            z-index: 1;
            visibility: visible;
            pointer-events: all;
            opacity: 1;
        }
    }
}
