@use '/resources/css/app.scss';

.DataTable {

    width: 100%;

    th, td {
        padding: 0 .25em;
        
    }

    thead {
        tr {
            th {
                text-align: left;
                @apply table-heading;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                td {
                    background-color: var(--contrast-with-white);
                }
            }
        }
    }

    .no-data {
        text-align: center;
        padding: 1em 0;
    }
    
}
