@use '/resources/css/app.scss';

.DataTable {

    width: 100%;

    th, td {
        padding: 0 .25em;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }

    thead {
        tr {
            th {
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                td {
                    background-color: rgb(var(--off-white));
                }
            }
        }
    }
}
