@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --rgb-off-white: 244, 244, 244;
    --off-white: rgb(--var(var(--rgb-off-white)));
    --yellow-highlighter: 253, 255, 50;
    --box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    --rgb-headers-tabs-accents: 26, 43, 72;
    --headers-tabs-accents: rgb(var(--rgb-headers-tabs-accents));
    --text-heading: var(--headers-tabs-accents);
    --rgb-highlight: 112, 185, 176;
    --highlight: rgb(var(--rgb-highlight));
    --rgb-white: 255, 255, 255;
    --white: rgb(var(--rgb-white));
    --rgb-grey: #F4F4F4;
    --grey: rgb(var(--rgb-grey));
    --rgb-text-soft: 125, 135, 153;
    --text-soft: rgb(var(--rgb-text-soft));
    --rgb-hover: 52, 184, 217;
    --hover: rgb(var(--rgb-hover));
    --rgb-highlight-actionable: 244, 208, 63;
    --highlight-actionable: rgb(var(var(--rgb-highlight-actionable)));
    --contrast-with-white: rgb(var(--rgb-highlight), .1);
}

input::autofill {
    background-color: var(--highlight-actionable);
}

body {
    color: var(--text-soft);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: var(--text-heading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply my-4;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.75em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-size: 1.25em;
}

.MainNav {
    background-color: var(--white);
    border-bottom: 1px solid var(--off-white);
}

.NavLink {
    color: var(--text-heading);
    border-color: transparent;
    &.active {
        border-color: var(--highlight);
    }
    &:hover {
        border-color: var(--hover);
    }
}

.table-heading {
    color: var(--text-heading);
    font-weight: bold;
}

.button {
    @apply inline-flex items-center rounded-md border border-transparent bg-gray-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gray-700 focus:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 active:bg-gray-900 dark:bg-gray-200 dark:text-gray-800 dark:hover:bg-white dark:focus:bg-white dark:focus:ring-offset-gray-800 dark:active:bg-gray-300;
}

.box {
    @apply bg-white p-4 shadow rounded-md sm:p-8 dark:bg-gray-800;
}

.gradient-background {
    background-color:hsla(0,100%,50%,1);
    background-image:
        radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}