@tailwind base;
@tailwind components;
@tailwind utilities;



$heading-color: #1A2B48; // headers, tabs, and accents
$icon-color: #70B9B0; // highlights and icons
$background-color: #FFFFFF; // background
$card-background-color:#F4F4F4; //card backgrounds and dividers
$text-color: #7D8799; // text or secondary elements
$hover-color: #34B8D9; // hover-effects
$actionable-color: #F4D03F; // highlight actionable items

:root {

    --heading-color: #{$heading-color};
    --border-color: var(--heading-color);

    --icon-color: #{$icon-color};
    --highlight-color: #{$icon-color};
    --highlight-color-transparent: #{rgba($icon-color, .2)};

    --background-color: #{$background-color};

    --card-background-color: #{$card-background-color};
    --divider-color: var(--card-background-color);
    --off-white: var(--card-background-color);

    --text-color: #{$text-color};

    --hover-color: #{$hover-color};
    --hover-color-transparent: #{rgba($hover-color, .2)};

    --actionable-color: #{$actionable-color};
    --actionable-color-translucent: #{rgba($actionable-color, .7)};

    --yellow-highlighter: 253, 255, 50;
    
    --box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    
}

a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

input::autofill {
    background-color: var(--actionable-color);
}

html,
body,
#app {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

#app {
    height: 100%;
}

body {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--card-background-color);
}

@mixin light-text {
    font-weight: 400;
}

@mixin bold-text {
    font-weight: 700;
}

@mixin regular-text {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   
}

h1 {
    font-size: 2em;
    @include bold-text;
}

h2 {
    font-size: 1.75em;
    @include bold-text;
}

h3 {
    font-size: 1.5em;
    @include bold-text;
}

h4 {
    font-size: 1.25em;
    @include regular-text;
}

h5 {
    font-size: 1em;
    @include light-text;
}

label {
    @include regular-text;
}

.table-heading {
    color: var(--heading-color);
    @include bold-text;
}

.button {
    @apply inline-flex items-center rounded-md border border-transparent bg-gray-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gray-700 focus:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 active:bg-gray-900 dark:bg-gray-200 dark:text-gray-800 dark:hover:bg-white dark:focus:bg-white dark:focus:ring-offset-gray-800 dark:active:bg-gray-300;
}

.box {
    @apply bg-white p-4 shadow sm:p-8;
    background-color: var(--background-color);
    border-radius: .35rem;
}

.gradient-background {
    background-color: hsla(0, 100%, 50%, 1);
    background-image: radial-gradient(
            at 40% 20%,
            hsla(28, 100%, 74%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(
            at 80% 50%,
            hsla(340, 100%, 76%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(
            at 80% 100%,
            hsla(242, 100%, 70%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}
