@tailwind base;
@tailwind components;
@tailwind utilities;



$headers-tabs-accents: #1A2B48;          
$highlights-icons: #70B9B0;
$background: #FFFFFF;                  
$card-backgrounds-dividers:#F4F4F4;
$text-secondary-elements: #7D8799;
$hover-effects: #34B8D9;
$highlight-actionable: #F4D03F;

:root {

    --headers-tabs-accents: #{$headers-tabs-accents};
    --highlights-icons: #{$highlights-icons};
    --background: #{$background};
    --card-backgrounds-dividers: #{$card-backgrounds-dividers};
    --text-secondary-elements: #{$text-secondary-elements};
    --hover-effects: #{$hover-effects};
    --highlight-actionable: #{$highlight-actionable};
    --highlight-actionable-transparent: #{rgba($highlight-actionable, .7)};

    --rgb-off-white: 244, 244, 244;
    --rbg-overlays: var(--rgb-off-white);
    --off-white: rgb(--var(var(--rgb-off-white)));
    --yellow-highlighter: 253, 255, 50;
    --box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    --rgb-highlight: 112, 185, 176;
    --highlight: rgb(var(--rgb-highlight));
    --rgb-white: 255, 255, 255;
    --white: rgb(var(--rgb-white));
    --rgb-grey: #f4f4f4;
    --grey: rgb(var(--rgb-grey));
    --rgb-text-soft: 125, 135, 153;
    --text-soft: rgb(var(--rgb-text-soft));
    --rgb-hover: 52, 184, 217;
    --hover: rgb(var(--rgb-hover));
    --rgb-highlight-actionable: 244, 208, 63;

    --contrast-with-white-rgb: 235, 243, 242;
    --contrast-with-white: rgb(var(--contrast-with-white-rgb));

    --primary-text-rgb: 26, 43, 72;
    --secondary-text-rgb: 125, 135, 153;
    --primary-text-color: rgb(var(--primary-text-rgb));
    --secondary-text-color: rgb(var(--secondary-text-rgb));


    --text-heading: var(--headers-tabs-accents);

    --icon-color-rgb: 112, 185, 176;
    --icon-color: rgb(var(--icon-color-rgb));

    --overlay-color: var(--off-white);
}

a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

input::autofill {
    background-color: var(--highlight-actionable);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
}

.light-text {
    font-weight: 400;
}

.bold-text {
    font-weight: 700;
}

.regular-text {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: var(--text-heading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply my-4;
}

h1 {
    font-size: 2em;
    @apply bold-text;
}

h2 {
    font-size: 1.75em;
    @apply bold-text;
}

h3 {
    font-size: 1.5em;
    @apply bold-text;
}

h4 {
    font-size: 1.25em;
    @apply regular-text;
}

label {
    @apply regular-text;
}

.main-navigation {
    background-color: var(--white);
    border-bottom: 1px solid var(--off-white);

    .NavLink {
        text-decoration: none;
        color: var(--text-heading);
        border-color: transparent;
        &.active {
            border-color: var(--highlight);
        }
        &:hover {
            border-color: var(--hover);
        }
    } 
}

.sub-navigation {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 1em;
    padding: 0 0 0.5em 0;
    margin: 0 1em;

    @apply -my-4 md:my-0 md:mx-4;

    > * {
        flex-shrink: 0;
    }
    
    .NavLink {
        display: inline-block;
        padding: 1.5em 0;
        text-decoration: none;
        color: var(--text-heading);
        border-color: transparent;
        &.active {
            border-color: var(--highlight);
        }
        &:hover {
            border-color: var(--hover);
        }
    
    } 
}



.table-heading {
    color: var(--text-heading);
    @apply bold-text;
}

.button {
    @apply inline-flex items-center rounded-md border border-transparent bg-gray-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gray-700 focus:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 active:bg-gray-900 dark:bg-gray-200 dark:text-gray-800 dark:hover:bg-white dark:focus:bg-white dark:focus:ring-offset-gray-800 dark:active:bg-gray-300;
}

.box {
    @apply rounded-md bg-white p-4 shadow sm:p-8 dark:bg-gray-800;
}

.gradient-background {
    background-color: hsla(0, 100%, 50%, 1);
    background-image: radial-gradient(
            at 40% 20%,
            hsla(28, 100%, 74%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(
            at 80% 50%,
            hsla(340, 100%, 76%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(
            at 80% 100%,
            hsla(242, 100%, 70%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}
