main:has(.Fishes) {
    overflow: hidden;
}

.Fishes {
    width: 100%;
    text-align: center;

    .fish-grid {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 100%;
        overflow: hidden;

        > header {
            text-align: right;
            padding: 0 1em;
        }

        .fish-grid-body {
            overflow-y: auto;
        }

        .fish-list {
            display: inline-grid;
            margin: 0 auto;
            padding: 0.25em 1em 1em 1em;
            .InternalLink {
                border-radius: 0.5em;
                text-align: center;
                &:hover {
                    @apply shadow;
                }
            }
            &.one-up {
                grid-template-columns: 100%;
                > .InternalLink {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 0 1em;
                    img {
                        padding: 1em 1em 1em 0;
                        max-width: 200px;
                    }
                    strong {
                    }
                }
            }

            &.two-up {
                grid-template-columns: 50% 50%;

                > .InternalLink {
                    display: flex;
                    flex-direction: column;
                    &:nth-child(odd) {
                        img {
                            transform: scaleX(-1);
                        }
                    }

                    img {
                        padding: 1em;
                    }
                    strong {
                        text-align: center;
                        padding: 1em;
                    }
                }
            }

            &.three-up {
                grid-template-columns: 33% 33% 33%;

                > .InternalLink {
                    display: flex;
                    flex-direction: column;

                    img {
                        margin: 1em;
                    }
                    strong {
                        text-align: center;
                        padding: 1em;
                    }
                }
            }

            &.four-up {
                grid-template-columns: 25% 25% 25% 25%;

                > .InternalLink {
                    display: flex;
                    flex-direction: column;
                    img {
                        padding: 0.5em;
                    }
                    strong {
                        text-align: center;
                        margin: 0 0.5em;
                    }
                }
            }
        }
    }
}
