.MapMobile {
    display: flex;

    position: relative;

    overflow: hidden;

    &.selected-location {
        .NewBrunswickMap {
            padding: 0;
        }
    }

    .container {
        display: flex;
        flex-basis: 100%;
    }

    &.portrait {
        flex-direction: column;
        .locations {
            transition: 300ms ease-in;
            position: absolute;
            z-index: 2;
            bottom: 0;
            padding-bottom: 4em;
            transform: translateY(100%);
            opacity: 0;

            &.selected {
                transform: translateY(0);
                opacity: 1;
                button.go, button.close {
                    display: block;
                }
            }

            button.go, button.close {
                display: none;
                position: absolute;
                z-index: 2;
                top: .7em;
                width: 1.75em;
                height: 1.75em;
                color: var(--icon-color);
                padding: 1em;
                box-sizing: content-box;
            }
            button.go {
                right: -1em;
            } 
            button.close {
                left: -1em;
            }
            
            ul li {
                display: none;
                &.highlighted {
                    display: block;
                }
            }
        }
    }

    .NewBrunswickMap {
        padding: 50% 0;
        transition: 300ms ease;
        > svg {
            width: 100%;
            max-height: 100%;
        }
    }

    .locations {
        transition: 300ms ease-in;
        padding: 1em;
        display: flex;
        align-items: baseline;
        justify-content: center;
        ul {
            display: contents;
            li {
                text-align: center;
                position: relative;
                h3 {
                    display: inline-block;
                    position: relative;
                    font-size: 1.25em;
                    margin: 0.5em 0;
                    font-weight: bold;
                }

                em {
                    display: block;
                    max-height: 0px;
                    transition: 1000ms;
                    overflow: hidden;
                    opacity: 0;
                }

                &.highlighted em,
                &:hover em {
                    opacity: 1;
                    max-height: 300px;
                }

                &.highlighted h3,
                &:hover h3 {
                    &:after {
                        visibility: visible;
                        width: 100%;
                    }
                }
            }
        }
    }
}
