.MapMobile {
    display: flex;

    position: relative;

    overflow: hidden;

    &.selected-location {
        .NewBrunswickMap {
            padding: 0;
        }
    }

    .container {
        display: flex;
        flex-basis: 100%;
        
    }
    
    &.portrait {
        flex-direction: column;
        .NewBrunswickMap {
        }
        .locations {
            position: absolute;
            z-index: 11;
            bottom: 0;
            transform: translateY(100%);
            transition: 300ms ease-in;
            button.close {
                position: absolute;
                top: 1.5em;
                right: 0;
                border: 1px solid black;
                border-radius: 50%;
                width: 2em;
                height: 2em;
            }
            &.selected {
                transform: translateY(0);
            }
            ul li {
                display: none;
                &.highlighted {
                    display: block;
                }
            }
        }
    }
    


    .NewBrunswickMap {
        padding: 50% 0;
        transition: 300ms ease;
        > svg {
            width: 100%;
            max-height: 100%;
        }
    }
    .locations {
        transition: 300ms ease-in;
        padding: 1em;
        display: flex;
        align-items: baseline;
        justify-content: center;
        ul {
            display: contents;
            li {
                text-align: center;
                position: relative;
                h3 {
                    display: inline-block;
                    position: relative;
                    font-size: 1.25em;
                    margin: .5em 0;
                    font-weight: bold;
                    
                    &:after {
                        visibility: hidden;
                        transition: 300ms ease;
                        content: '';
                        border: 1px solid black;
                        width: 0%;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform-origin: 0 50%;
                        transform: translateX(-50%);
                    }
                    
                }

                em {
                    display: block;
                    max-height: 0px;
                    transition: 1000ms;
                    overflow: hidden;
                    opacity: 0;
                }

                &.highlighted em, &:hover em {
                    opacity: 1;
                    max-height: 300px;
                }

                &.highlighted h3, &:hover h3 {
                    &:after {
                        visibility: visible;
                        width: 100%;
                    }
                }
            }
        }
        
        
    }
}