.BreadCrumb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 0 0.25em 0;
    transition: 300ms ease;
    gap: 0.5em 0;

    @screen sm {
        padding: 1em 0 1em 0;
    }

    @screen md {
        font-size: 2rem;
    }

    > * {
        transition: 300ms ease;

        &:before {
            content: '>';
            margin: 0 0.5em;
            border-bottom: 1px solid transparent;
        }
        &:first-child {
            &:before {
                content: '';
                margin: 0;
            }
        }

        &:last-child {
            font-weight: 600;
            border-bottom: 1px solid transparent;
            &:before {
                font-weight: normal;
            }
            .InternalLink {
                border-bottom: 1px solid transparent;
                cursor: auto;
            }
        }

        .InternalLink {
            border-bottom: 1px solid currentColor;
            &:hover {
                border-bottom: 1px solid transparent;
            }
        }
    }

    a.icon {
        display: flex;
        align-items: center;
        svg {
            height: 1.1em;
            color: var(--heading-color);
        }
    }
}

.InternalLink {
    font-size: inherit;
}
