@use '/resources/css/app.scss';
.FishLimits {
    height: 100%;

    .box {
        height: 100%;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .DataTableWithOperations {
        thead tr.caption th {
            @screen sm {
                padding-top: 1em;
            }
        }
        thead tr {
            th select {
                display: block;
            }
            th.Location,
            th.Boundary,
            th.Fish,
            th.Tidal,
            th.Waterbody,
            th.WaterStretch,
            th.FishingMethod,
            th.Note {
                @screen sm {
                    span.heading-container {
                        display: block;
                        padding-right: 3em;
                    }
                }
            }
						th.WatersCategory {
							@screen sm {
								span.heading-container {
										display: block;
										padding-right: 2em;
								}
						}
						}
						th.ID,
						th.MinSize,
						th.MaxSize,
						th.SeasonStart,
						th.SeasonEnd {
                @screen sm {
                    span.heading-container {
                        display: block;
                        padding-right: 1.5em;
                    }
                }
            }
        }
    }
}
