@use '/resources/css/app.scss';

.FishLimits {
    .DataTableWithOperations {
        thead tr {
            th select {
                display: block;
            }
            th.Location, th.Boundary, th.WatersCategory, th.Tidal, th.Waterbody, 
            th.WaterStretch, th.FishingMethod, th.Note {
                @screen sm {
                    span {
                        display: block;
                        padding-right: 1.5em;
                    }
                }
            }
        }
        
        tbody tr {
            td:nth-child(1) {
               
            }
        }
    }
    
}
