.NewIndicator {
    position: relative;
    .text-content {
        position: absolute;
        top: -1.3em;
        right: -1em;
        transform-origin: 50%;
        transform: rotate(-5deg) translateX(50%);
        background-color: var(--actionable-color);
        font-size: 0.8em;
        border-radius: 0.25rem;
        padding: 0.1em 0.5em;
    }
}
