@use '/resources/css/app.scss';

html, body {
    overflow: hidden;
}

.PublicAppLayout {

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    @apply bg-gray-100 dark:bg-gray-900;
    

    display: grid;
    grid-template-rows: auto 1fr;

    .PublicAppMenu {
        @apply border-b border-gray-100 bg-white dark:border-gray-700 dark:bg-gray-800;
        display: none;
    }

    main {
        overflow: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}




.data-grid {
    display: grid;

    .header {
        display: contents;
        @apply table-heading;
        em {
            font-size: 1em;
        }
    }

    .row-header {
        grid-column: 1 / -1;
    }

    .row-start:nth-child(2n + 1) {
        &, 
        + *, 
        + * + *, 
        + * + * + *, 
        + * + * + * + *, 
        + * + * + * + * + *,
        + * + * + * + * + * + * {
            background-color: var(--contrast-with-white);
        }
    }

    em {
        font-size: .8em;
    }
}

