@use '/resources/css/app.scss';

.PublicAppLayout {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header'
        'main';

    background-color: var(--background-color);

    .PublicAppMenu {
        @apply border-b border-gray-100 bg-white dark:border-gray-700 dark:bg-gray-800;
        display: none;
    }

    > header {
        grid-area: header;

        .BreadCrumb {
            .InternalLink {
                color: var(--heading-color);
            }
        }
    }

    main {
        grid-area: main;
        overflow: auto;
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding: 0 1em 1em 1em;
    }
}

.data-grid {
    display: grid;

    .header {
        display: contents;
        @apply table-heading;
        em {
            font-size: 1em;
        }
    }

    .row-header {
        grid-column: 1 / -1;
    }

    .row-start:nth-child(2n + 1) {
        &,
        + *,
        + * + *,
        + * + * + *,
        + * + * + * + *,
        + * + * + * + * + *,
        + * + * + * + * + * + * {
            background-color: var(--highlight-color-transparent);
        }
    }

    em {
        font-size: 0.8em;
    }
}
